.blog-posts {
  display: flex;
  flex-wrap: wrap;
  .post {
    width: 100%;
    padding: 7.5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(sm) {
      width: 50%;
    }

    @include media-breakpoint-up(md) {
      width: 33.33%;
    }
    .blog-img {
      width: 100%;
      height: fit-content;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .details {
      height: 100%;
    }
  }
}

.blog-categories-sidebar {
  #categories-3 {
    display: flex;
    margin-bottom: 0;
    ul {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.blog-nav {
  margin-top: 60px;
}
