#tinymce{
	background-color: #d6d6d6;
}

.lg-social-media-cont{
	.lg-social-media{
		padding: 0;
	    margin: 0;
	    list-style: none;
	    display: flex;

	    li{
	    	a{
				width: 40px;
			    height: 40px;
			    display: flex;
			    text-align: center;
			    justify-content: center;
			    align-items: center;
			    background-color: theme-color('primary');

	    		i{
					color:#fff;
	    		}
	    	}
	    }
	}
}

.our-partners{
	.container{
		border-top: 1px dashed $gray-400;
		.partner-logo{
			padding-right: 115px;
			.slick-slide{
				img{
					width: 100%;
					max-width: 200px;
					padding: 0 20px;
					margin: auto auto;
				}
			}
		}
		.partner-arrow{
			position: absolute;
		    right: 10px;
		    top: 50%;
		    z-index: 2;
		    transform: translateY(-50%);
		    max-width: 60px;
		}
	}
}

.flexible-tab{
	position: relative;
	.nav-tabs-wrap{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		.nav-tabs{
			border: 0;
			@extend .pt-3;

			li{
				&:not(.active){
					.btn-orange{
						@extend .btn-orange:hover;
					}
				}
			}
		}	
	}
	.tab-pane{
		padding: 100px 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		@include media-breakpoint-down(md){
			background-image: none !important;
		}
		>div{
			.tab-item{
				.container{
					display: flex;
					flex-wrap: wrap;

					@include media-breakpoint-down(md){
						flex-direction: column;
					}

					.tab-icon{
						width: 120px;
						height: 120px;
						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.tab-content{
						width: calc( 100% - 100px );
						padding: 15px 0;

						@include media-breakpoint-up(md){
							max-width: 500px;
							width: 100%;
							padding: 0 20px;
						}

						// >p {
						// 	color:white;
						// }
					}
				}
			}
		}

		&#second-tab{
			.tab-content{
				margin: 0;
				order: 2;
			}
			.tab-icon{
				order: 1;
			}
		}

		@include media-breakpoint-up(md){
			&#second-tab{
				text-align: right;
				.tab-item{
					margin: auto 0 auto auto;
					.tab-icon{
						order: 2;
					}
					.tab-content{
						order: 1;
						text-align: right;
						margin: 0 0 auto auto;
					}
				}
			}
		}
	}
}

.social-share{
	.norm_row.sfsi_wDiv{
		width: auto !important;
		position: relative !important;
		>div{
			margin-left: 15px !important;
		}
	}
	#sfsi_holder{
		display: none;
	}
}

.popup-wrap{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.7);
	display: none;
	z-index: 9999;
	.popup{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 600px;
		background-color: #fff;
		border: 4px solid $blue;
	}
}

.our-testimonials{
	max-width: 700px;
}