.donation-bar{

	.col{
		// @include myoutline(green);
	}

	h2{
		font-weight: map-get($font-weights, bold);
		margin: 0;
	}

	.list-inline{
		margin: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		li{
			// @include myoutline(red);
			flex-grow: 1;
			flex-basis: 0;
			margin: map-get($spacers, 1);
			@include media-breakpoint-up(sm){
				margin: 0 map-get($spacers, 1);
			}
		}

		a{
			color: $white;
		}
	}




	.btn-pink{
		display: block;
		background-color: #f3a3b1;
		margin: 0;
		border-width: 0;
    padding: 1.8rem 1rem;
    color: #fff;
    width: 100%;
    cursor: pointer;
    font-size: 28px;
	}

	.btn-brown{
		@extend .btn-pink;
		background-color: #742431;
	}
	.btn-pink{
		&:hover{
			background: #fff;
			color: $pink;
		}
	}
}
