.page-slider{

	.img-cont{
		width: 100%;

		img{
			width: 100%;
			height: 400px !important; 
			object-fit: cover;
			object-position: center center;

			@include media-breakpoint-up(sm){
				height: 500px !important;
			}
		}
	}

	.slider-content{
		// @include myoutline(red);
		width: 100%;
		position: absolute;
		bottom: 100px;
		left: 150px;
		max-width: 600px;

		h2{
			margin:0;
		}

		p{
			margin: 0;
		}

		@include media-breakpoint-down(md){
			width: calc( 100% - 100px );
			margin: 0 50px;
			left: 0;
			bottom: 50%;
			transform: translateY(50%);
		}
	}

}