.people{
	.profile{

	}
}

.web-form{
	input[type=radio]{
		margin-right: 10px;
	    vertical-align: text-top;
	}
	input[type=text]{
		width: 100px;
		padding: 3px 5px;
	}
	select{
		height: 38px;
	}

	textarea {
		width: 250px;
		height: 125px;
	}
}
