.mega-menu-toggle{
	display: none !important;
}

#mega-menu-wrap-top-nav{
	background-color: transparent !important;
}

@include media-breakpoint-up(lg){
	.max-mega-menu{
		>li{
			>.mega-sub-menu{
				position: fixed !important;
				left: 0 !important;
				padding: 0 !important;

				>.mega-menu-row{
					>.mega-sub-menu{
				      	display: flex !important;
				    	justify-content: center !important;
						li,a{
							display: inline-block !important;
							width: auto !important;
						}
						>li{
							border-right: 1px solid #fff !important;
							padding: 50px 50px !important;

							&:last-child{
								border-right: 0 !important;
							}
							>.mega-sub-menu{
								display: flex !important;
	    						flex-direction: column !important;

	    						p,div,span,a{
	    							font-size: 15px !important;
	    							text-transform: none !important;
	    							font-weight: 300 !important;
	    						}

	    						.mega-block-title{
	    							font-size: 16px !important;
	    							font-weight: 700 !important;
	    						}

	    						>li{
	    							padding: 5px 0 !important;
	    						}
							}
						}
					}
				}
			}
		}
	}
	.mega-menu-item.bg-pink{
		background-color: $pink !important;
	}
}

@include media-breakpoint-down(lg){
	.max-mega-menu{
		background-color: #333 !important;
		padding: gutter() 7.5px !important;
		overflow: scroll !important;
		-webkit-overflow-scrolling: touch !important;
		>li{
			.mega-menu-link{
				color: #fff !important;
			}
			>.mega-sub-menu{
				background-color: #333 !important;
				float: none !important;
				>.mega-menu-row{
					float: none !important;
					>.mega-sub-menu{
				      	display: flex !important;
				    	justify-content: center !important;
				    	flex-direction: column !important;

						li,a{
							display: inline-block !important;
							width: auto !important;
						}
						>li{
							padding: 10px 10px;

							&:last-child{
								border-right: 0 !important;
							}
							>.mega-sub-menu{
								display: flex !important;
	    						flex-direction: column !important;

	    						p,div,span,a{
	    							color:#fff !important;
	    							font-size: 14px !important;
	    							text-transform: none !important;
	    						}

	    						.mega-block-title{
	    							font-size: 14px !important;
	    							font-weight: 700 !important;
	    							color: #fff !important;
	    						}

	    						>li{
	    							padding: 2px 0 !important;
	    						}
							}
						}
					}
				}
			}
		}
	}

	.mega-menu-link{
		font-size: 15px !important;
	}
}

.mega-menu-link::after{
	display: none !important;
}

#mega-menu-wrap-top-nav #mega-menu-top-nav > li.mega-menu-item > a.mega-menu-link{
	font-size: 1rem;
	font-weight: bold !important;
	&:hover{
		font-weight: bold !important;
	}
}

html, body{
	&.locked{
		overflow: hidden;
	}
}
