// Main Nav
#nav-main{
	// @include myoutline(red);

	.navbar-nav {
		// font-size: $font-size-sm;
		margin-bottom: gutter() / 2;
		@include media-breakpoint-up(md){ margin-bottom: 0; }
	}

	.menu-item{
		text-transform: uppercase;
		font-weight: 600;

		.nav-link{
			padding: $nav-link-padding-y 25px;
			@include font-size($font-size-navbar);

			@include media-breakpoint-up(md){
				padding: ($nav-link-padding-y * 5) 25px;
			}

			&:hover, &:focus{
				// @include myoutline(red);
				background-color: $primary;
			}
		}

		.dropdown-item{
			@include font-size($font-size-navbar);
		}

	}


	.active{
		// @include myoutline(red);
		background-color: $red;
	}
}




// Navigation Footer
.nav-footer{
	// @include myoutline(red);
	@extend .nav;
	@extend .nav-pills;
	@extend .nav-fill;

	li{ @extend .nav-item; }

	a{
		@extend .nav-link;
		text-transform: uppercase;
		font-weight: 600;
		color: $black;

		&:hover, &:focus{
		    color: $nav-pills-link-active-color;
		    background-color: lighten($nav-pills-link-active-bg, 20%);
		}

	}

	.current_page_item a{ @extend .active; }

}


// Utility Navigation4

$font-size-nav-utility: (
  xs: 0.675rem,
  sm: 0.675rem,
  md: $font-size-base,
  lg: $font-size-base,
  xl: $font-size-base
);

.menu-utility-container{

	#menu-utility{
		align-items: center;
		.btn-circle{
			width: 25px;
			height: 25px;
			line-height: 12px;
		}
	}

	#nav-utility{}

	.menu-item{
		@extend .nav-item;

		a{
			@extend .nav-link;
			color: $white;
			font-size: 14px;

			&:hover, &:focus{
				color: $gray-500;
			}
		}
	}

	.btn-circle{
		margin-left: map-get($spacers, 1);
		margin-right: map-get($spacers, 1);
    font-size: 14px;
    padding: 6px 0;
		a{
			display: inline-block;
			padding: 0;
		}
	}

}

.navbar{
	justify-content: space-between;
	.nav-brand{
		@include media-breakpoint-down(md){
			width: 100%;
		}
		display: flex;
		justify-content: space-between;
	}
}

.navigation{
	@include media-breakpoint-down(md){
		width: 100%;
	}
}

#mega-menu-wrap-top-nav #mega-menu-top-nav > li.mega-menu-item > a.mega-menu-link{
	@include media-breakpoint-up(lg){
		height: 75px;
		padding: 0 20px;
		line-height: 75px;
	}
}
