.flexible-content{

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	.flexible-content-slider{
		width: 100%;

		img{
			width: 100%;
		}
	}

	.media-image{
		width: 100%;
	}

	.grid-overlay{
		position: relative;

		@media(max-width: $screen-sm){
			width: 100% !important;
		}

		>img{
			width: 100%;
		}
		.overlay{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;
			color: #fff;

			h2{
				font-weight: bold;
			}
		}
	}

	.list-padding{
		div[class*="col-"]{
		    padding-top: 15px;
		    padding-bottom: 15px;
		}
	}
}
