.flexible-content{

	.order-sm-initial{
		@media(min-width: $screen-sm){
			order: initial;
		}
	}
	.order-md-initial{
		@media(min-width: $screen-md){
			order: initial;
		}
	}
	.order-lg-initial{
		@media(min-width: $screen-lg){
			order: initial;
		}
	}
	.order-xl-initial{
		@media(min-width: $screen-sm){
			order: initial;
		}
	}

	.image-full{
		width: 100%;
	}

}