.ginput{

	&_container{

	}

	&_complex{

		label{
			font-size: $font-size-sm;
			font-weight: map-get($font-weights, light);
		}

	}

} 

.gform_wrapper{
// bootstrap input styling
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea, select {
		@extend .form-control;
	}  
}

// Labels
.gfield_label{
	color: #000;
	font-weight: map-get($font-weights, regular);
}


// Buttons
.gform_button{
	@extend .btn;
	@extend .btn-primary;
}


 


// Help Text AKA description
.gfield_description{
	@extend .form-text; 
}





//Section Break
.gsection{
	
	.gsection_title{
		text-transform: uppercase;
		font-weight: map-get($font-weights, bold);
		color: #fff;
		margin: 0;
		padding: 0;
		font-size: $font-size-lg;
	}
}

