// General Layout
.gform_wrapper{
	// @include myoutline(red);
	padding          : map-get($spacers, 2);
	border-radius    : 0;
	
	form{
		display         : flex;
		flex-direction  : column;

		.gform_heading{
			width: susy-span(12); 
			margin-bottom: map-get($spacers, 2);
		} 
		
		.gform_body{
			width: susy-span(12);
			margin-bottom: map-get($spacers, 2);
		}
		
		.gform_footer{
			width: susy-span(12);

			.gform_button{
				display: block;
				float: right;
			}
		}

	}
} 


// Fields Layout
.gform_fields{
	@include list-unstyled;

	.gfield{
		@extend .form-group;
	}

	// IE: Two fields - First and last name
	.ginput_complex{
		// @include myoutline(blue);
		display: flex;
		justify-content: space-between;

		span, div{
			flex: 1 1 auto;
			padding-right: gutter();
			&:last-child{
				padding-right: 0;
			}
		}
	}


	// Time Fields
	.clear-multi{
		display: flex;
		justify-content: space-start;

		.ginput_container_time{
			
			// Layout for HH MM AM/PM
			flex: 0 1 auto;
			padding-right: gutter() / 2;
			&:last-child{ padding-right: 0; }

			// Layout Spacing for items
			display: flex;
			align-items: center;
			input{ margin-right: gutter(); }
		}
	}

	// Checkbox and Radio Boxes
	.ginput_container_checkbox, .ginput_container_radio{
		// @include myoutline(green);

		.gfield_checkbox, .gfield_radio{
			@include list-unstyled;
			display: flex;
			flex-direction: column;

			li{
				flex: 0 1 auto;

				display: flex;
				align-items: center;
			}

			label{
				margin: 2px;
			}

			input{
				margin: 2px;
			}
		}
	}
	
}

// Horizontal Form
.form-horizontal_wrapper{

	form.form-horizontal{
		padding: 15px; // bootsrap reset
	}

	.gfield{
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(sm){ flex-direction: row;  }
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;

		& > label{
			text-align: left;
			width: susy-span(12);
			margin: 0;

			@include media-breakpoint-up(sm){
				width: susy-span(3);
				text-align: right;
				padding-right: map-get($spacers, 2);
			}
		}

		.ginput_container {
			width: susy-span(12);

			@include media-breakpoint-up(sm){
				width: susy-span(9);
			}
		}

		.gfield_description{

			@include media-breakpoint-up(sm){
				width: susy-span(9);
				padding-left: susy-span(3);
			}
		}

		&.label-top label{
			align-self: flex-start;
		}


	}
}


//form-inline
.form-inline_wrapper{
	padding: 15px 0;
	
	form.form-inline{
		// @include myoutline(red);
		display: flex;
		flex-direction: row;
		align-items: center;


		.gform_heading, .gform_body, .gform_footer{
			// @include myoutline(green);
			width: auto;
			margin-bottom: 0;
		}

		.gform_heading{
		}

		.gform_body{
			// width: 50%;
		}
		
		.gform_footer{	
		}

		.gform_title{
			font-size: $font-size-base;
			font-weight: map-get($font-weights, bold);
			color: $white;
			margin-bottom: 0;
		}

		.gform_fields{
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 0;
 
			.gfield{
				
				margin: map-get($spacers, 1) 0;
				margin-right: 15px;
			}
		}

		.gform_button{
			background-color: $orange;
			border-color:  $orange;
			border-radius: 0;
		}

		label{ @include sr-only(); }
	}

}


.application-form{
	.gform_fields{
		display: flex;
		flex-wrap: wrap;
		.gfield{
			width: 100%;
		}
		.gf_left_half{
			width: 50%;
			padding-right: 15px;
			padding-left: 0;
		}

		.gf_right_half{
			width: 50%;
			padding-left: 15px;
			padding-right: 0;
		}

		.gsection{
			background-color: #fff;
			margin: 50px 15px;
			border-bottom: 1px solid $gray-500;
		}
		.gfield_label{
			color: #000;
		}

		@include media-breakpoint-down(md){
			.gf_left_half, .gf_right_half, .gfield{
				width: 100%;
				padding: 0;
			}
			.gsection{
				margin: 30px 0;
			}
		}
	}

	.gform_footer{
		input[type=submit]{
			@extend .btn-green;
			float: left;
		}
	}
}