// Display required fields with "*"
.gfield_contains_required{

	.gfield_required{
		padding: 0 2px;
		color: $primary;
	}
}


// Box at top of form "There was a problem..."
.validation_error{
	display: block;
	padding: map-get($spacers, 2);
	background-color: $danger;
	color: #fff;
	border-radius: $border-radius;
	margin: 1.0rem 0;
	box-shadow: 1px 1px 5px $gray-500;
}


.validation_message{
	color: $danger;
}

.gfield_error{ 
	@extend .is-invalid;
}  