// alignment
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.1rem;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.1rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
} 

.btn{
	white-space: initial;
}