// ---- CTA
.cta{
	padding: $spacer;
	color: #fff;
	display: inline-block;
}

.cta-primary{
	@extend .cta;
	background-color: theme-color('primary');
}

.cta-secondary{
	@extend .cta;
	background-color: theme-color('secondary')
}

.img-full{
	width:100%;
	height: auto;
}

// Pattern
.bg-image{ 
	// @include myoutline(red);
	position: relative;
	background-repeat     : no-repeat;
	background-position   : center center;
	background-size       : cover; 
}

.text-blue{
	color: $blue;
}
.text-red{
	color: $red;
}
.text-green{
	color: $green;
}
.text-orange{
	color: $orange;
}
.text-pink{
	color: $pink;
}
.text-gold{
	color: $gold;
}

.bg-blue{
	background-color: $blue;
}
.bg-red{
	background-color: $red;
}
.bg-green{
	background-color: $green;
}
.bg-orange{
	background-color: $orange;
}
.bg-pink{
	background-color: $pink;
}
.bg-gold{
	background-color: $gold;
}

.bg-blue-light{
	background-color: rgba($blue, .4);
}
.bg-red-light{
	background-color: rgba($red, .4);
}
.bg-green-light{
	background-color: rgba($green, .4);
}
.bg-orange-light{
	background-color: rgba($orange, .4);
}
.bg-pink-light{
	background-color: rgba($pink, .4);
}
.bg-gold-light{
	background-color: rgba($pink, .4);
}

.btn{
	padding: 10px 25px;
	border-radius: 0;

	a{
		color: inherit;
	}
}

.btn-blue{
	@extend .btn;
	background-color: $blue;
	border: 2px solid $blue;
	color: #fff;

	&:hover{
		background-color: #fff;
		color: $blue;
	}
}

.btn-red{
	@extend .btn;
	background-color: $red;
	border: 2px solid $red;
	color: #fff;

	&:hover{
		background-color: #fff;
		color: $red;
	}
}

.btn-green{
	@extend .btn;
	background-color: $green;
	border: 2px solid $green;
	color: #fff;

	&:hover{
		background-color: #fff;
		color: $green;
	}
}

.btn-orange{
	@extend .btn;
	background-color: $orange;
	border: 2px solid $orange;
	color: #fff;

	&:hover{
		background-color: #fff;
		color: $orange;
	}
}

.btn-pink{
	@extend .btn;
	background-color: $pink;
	border: 2px solid $pink;
	color: #fff;

	&:hover{
		background-color: #fff;
		color: $pink;
	}
}

.btn-gold{
	@extend .btn;
	background-color: $gold;
	border: 2px solid $gold;
	color: #fff;

	&:hover{
		background-color: #fff;
		color: $gold;
	}
}

.btn-dark{
	@extend .btn;
	background-color: $dark;
	border: 2px solid $dark;
	color: #fff;

	&:hover{
		background-color: #fff;
		color: $dark;
	}
}

.arrow-list{
	list-style: none;
	padding: 0;
	li{
		padding-left: 36px;
	    background-image: url(/wp-content/themes/wp-web-sosbc/assets/dist/images/arrow.png);
	    background-repeat: no-repeat;
	    background-size: 22px;
	    background-position: 0 50%;
	    margin-bottom: 8px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
}

.check-list{
	list-style: none;
	padding: 0;
	li{
		padding-left: 30px;
	    background-image: url(/wp-content/themes/wp-web-sosbc/assets/dist/images/SOSBC_CheckMarkIcon.png);
	    background-repeat: no-repeat;
	    background-size: 16px;
	    background-position: 0 50%;
	    margin-bottom: 8px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
}