.list-pipe{
    position: relative;
    margin: 1em;
    overflow: hidden;
	ul{
		@include list-unstyled();
		list-style-type: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: -1px;
		padding: 0;
		li {
			flex: 1 0 auto;
			text-align: center;
			border-left: 1px solid $gray-600;
		}
	}

	@include media-breakpoint-down(sm){
		ul{
			display: block;
			li{
				border-left: 0 !important;
				border-right: 0 !important;
			}
		}
	}
}
