body{
	width: 100%;
	overflow-x: hidden;
}

// Site Content
.site-content{
	// width: susy-span(12);

	.body-copy{
		// @extend .container;
		// padding: 0 gutter(); 
	}
}


// Blog and default archive pages
.sidebar-main{

		// @include myoutline(blue);
		@extend .container;
		display         : flex;
		justify-content : space-between;
		align-items     : flex-start;
		flex-wrap       : wrap;
		padding         : 0 gutter()  gutter() gutter();
		@include media-breakpoint-up(sm){ padding: 0 0 gutter() 0; }

		.sidebar-body{
			// @include myoutline(red);
			width: span(12); 
			@include media-breakpoint-up(sm){ width: span(12); }
			@include media-breakpoint-up(md){ width: span(8); }
			@include media-breakpoint-up(lg){ width: span(9); }
		}

		.widget-area{
			// @include myoutline(red); 
			display: none;
			@include media-breakpoint-up(md){ width: span(4); display: block; }
			@include media-breakpoint-up(lg){ width: span(3); }
		}


}

#primary{
	img{
		max-width: 100%;
		height: auto;
	}

	.lg-collapse{
		h2{
			font-size: 1.3rem !important;
			padding:0 !important;
		}
		.collapse-item{
			>div{
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
		}
	}
}

.contact-us-table{
	td{
		padding-bottom: 15px;

		&:first-child{
			vertical-align: baseline;
		    padding-right: 25px;
		    padding-top: 7px;
		    text-align: center;

		    i{
		    	font-size: 21px;
		    }
		}
	}
}