.subscribe-form{
	.gform_wrapper{
		padding: map-get($spacers, 2) 0;
		input{
			width: 220px !important;
			margin-top: 5px;
		}
		.gfield{
			margin: 0 !important;
			padding-right: map-get($spacers, 2);
		}
	}
	.h4{
		font-size: 1.4rem;
	}
}

.form-inline_wrapper form.form-inline{
  justify-content: center;
  .gform_fields{
    justify-content: center;
  }
}

#site-legal{
	font-size: 14px;
	.list-pipe{
		margin: 0;
		ul{
			margin:0;
			justify-content: center;
			li{
				margin-bottom: 15px;
				border-right: 1px solid #fff;
				border-left: 0;
				flex: none;
				padding: 0 15px;
				line-height: 15px;
			}
		}
	}

	a{
		color: #fff;
	}
}
