#masthead{
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;

    .utility-bar{
    	@include media-breakpoint-down(md){
    		display: none;
    	}
    }

    &.scroll-animated{
    	.utility-bar{
    		max-height: 0;
    		overflow: hidden;
    	}
    }
}

#gtranslate_wrapper{
  top: 5px !important;
}
