.donate-btn {
    font-size: 14px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  0 1rem;
    white-space: nowrap;
    text-transform: uppercase;
}

.mega-menu-item.d-none-1024 {
    margin-top: 12px !important;
    margin-left: 10px !important;
}

@media screen and (max-width:320px) {
    .d-none-1024 {
        display: none !important;
    }
    .mega-menu-item.d-none-1024 {
        display: block !important;
    }
}

@media screen and (min-width:1024px) {
    .d-none-1024 {
        display: none !important;
    }
}